name: Data Update

on: workflow_dispatch

jobs:
  patients_data:
    name: Patients Data
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=patients_data -L -o 080004_ibaraki_covid19_patients.csv'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Convert to JSON
        run: 'python ../workflow_tools/csv2json/main.py'
        working-directory: ./opendata
        env:
          FILE: 080004_ibaraki_covid19_patients
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_patients.json ./json/patients.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: |
            opendata/080004_ibaraki_covid19_patients.csv
            opendata/json/patients.json

  test_people:
    name: Tested people
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=tested_people -L -o 080004_ibaraki_covid19_test_people.csv'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Convert to JSON
        run: 'python ../workflow_tools/csv2json/test_people.py'
        working-directory: ./opendata
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_test_people.json ./json/test_people.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: |
            opendata/080004_ibaraki_covid19_test_people.csv
            opendata/json/test_people.json

  positive_rate:
    name: Positive Rate
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=positive_rate -L -o 080004_ibaraki_covid19_positive_rate.csv'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Convert to JSON
        run: 'python ../workflow_tools/csv2json/main.py'
        working-directory: ./opendata
        env:
          FILE: 080004_ibaraki_covid19_positive_rate
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_positive_rate.json ./json/positive_rate.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: |
            opendata/080004_ibaraki_covid19_positive_rate.csv
            opendata/json/positive_rate.json

  call_center:
    name: Call Center
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=call_center -L -o 080004_ibaraki_covid19_call_center.csv'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Convert to JSON
        run: 'python ../workflow_tools/csv2json/main.py'
        working-directory: ./opendata
        env:
          FILE: 080004_ibaraki_covid19_call_center
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_call_center.json ./json/call_center.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: |
            opendata/080004_ibaraki_covid19_call_center.csv
            opendata/json/call_center.json

  positive_number:
    name: Positive Number
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=positive_number -L -o 080004_ibaraki_covid19_positive_number.csv'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Convert to JSON
        run: 'python ../workflow_tools/csv2json/main.py'
        working-directory: ./opendata
        env:
          FILE: 080004_ibaraki_covid19_positive_number
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_positive_number.json ./json/positive_number.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: |
            opendata/080004_ibaraki_covid19_positive_number.csv
            opendata/json/positive_number.json

  recovered_number:
    name: Recovered Number
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=recovered_number -L -o 080004_ibaraki_covid19_recovered_number.csv'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Convert to JSON
        run: 'python ../workflow_tools/csv2json/main.py'
        working-directory: ./opendata
        env:
          FILE: 080004_ibaraki_covid19_recovered_number
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_recovered_number.json ./json/recovered_number.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: |
            opendata/080004_ibaraki_covid19_recovered_number.csv
            opendata/json/recovered_number.json

  death_number:
    name: Death Number
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=death_number -L -o 080004_ibaraki_covid19_death_number.csv'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Convert to JSON
        run: 'python ../workflow_tools/csv2json/main.py'
        working-directory: ./opendata
        env:
          FILE: 080004_ibaraki_covid19_death_number
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_death_number.json ./json/death_number.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: |
            opendata/080004_ibaraki_covid19_death_number.csv
            opendata/json/death_number.json

  inspections_summary:
    name: Inspections Summary
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=inspections_summary -L -o 080004_ibaraki_covid19_inspections_summary.json'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_inspections_summary.json ./json/inspections_summary.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: opendata/json/inspections_summary.json

  main_summary:
    name: Main Summary
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=main_summary -L -o 080004_ibaraki_covid19_summary.json'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Move and Rename
        run: 'mv 080004_ibaraki_covid19_summary.json ./json/main_summary.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: opendata/json/main_summary.json

  corona_next:
    name: Corona Next
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=corona_next -L -o 080004_ibaraki_covid19_corona_next.json'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Rename
        run: 'mv 080004_ibaraki_covid19_corona_next.json ./json/corona_next.json -u'
        working-directory: ./opendata
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: opendata/json/corona_next.json

  news_json:
    name: news.json
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=news_json -L -o news.json'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: opendata/news.json

  last_update:
    name: Last Update Time
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Download File
        run: 'curl ${DATA_UPDATE_URL}?data=last_update -L -o last_update.json'
        working-directory: ./opendata
        env:
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Save
        uses: actions/upload-artifact@v2
        with:
          name: opendata_artifact
          path: opendata/last_update.json

  push_dev:
    name: Generate data.json
    runs-on: ubuntu-latest
    needs: [patients_data,test_people,positive_rate,call_center,positive_number,recovered_number,death_number,inspections_summary,main_summary,corona_next,news_json,last_update]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: development
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Restore
        uses: actions/download-artifact@v2
        with:
          path: opendata/
      - name: Move restored files
        run: |
          mv ./opendata/opendata_artifact/json/*.* ./opendata/json/
          mv ./opendata/opendata_artifact/*.* ./opendata/
      - name: Temporary Commit
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update Data (Temp)" -a
      - name: Reset the Commit
        run: 'git reset --soft HEAD~'
      - name: Download and Generate otherpref.json
        # otherprefについては、いつ情報が更新されるか不明であり、更新日時に反映されないため、例外的にここでDLする
        run: |
          curl ${DATA_UPDATE_URL}?data=forked_sites -L -o otherpref.csv
          python ../workflow_tools/csv2json/main.py
        working-directory: ./data
        continue-on-error: true
        env:
          FILE: otherpref
          DATA_UPDATE_URL: ${{ secrets.DATA_UPDATE_URL }}
      - name: Generate data.json
        run: 'python ../workflow_tools/generate_datajson/main.py'
        working-directory: ./opendata
      - name: Move data.json, news.json
        run: |
          mv data.json ../data/data.json -u
          mv news.json ../data/news.json -u
          mv data_wave3.json ../data/data_wave3.json -u
        working-directory: ./opendata
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update Data" -a
      - name: Temporary disable branch protection
        uses: Hatzelencio/branch-protection@v0.0.0
        with:
          path: .github/config/branch_unlock_dev.yml
        env:
          GITHUB_TOKEN: ${{secrets.GHAC_TOKEN}}
      - name: Push to development
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: development
      - name: Enable branch protection
        uses: Hatzelencio/branch-protection@v0.0.0
        with:
          path: .github/config/branch_protect_dev.yml
        env:
          GITHUB_TOKEN: ${{secrets.GHAC_TOKEN}}
      - name: Run Deploy & i18n_generator
        run: |
          echo "::group::Development Deploy"
          curl https://api.github.com/repos/a01sa01to/covid19-ibaraki/actions/workflows/859009/dispatches -X POST -H "Accept: application.vnd.github.v3+json" -H "Authorization: token ${WORKFLOW_DISPATCH_TOKEN}" -d '{"ref":"development"}'
          echo "::endgroup::"
          echo "::group::i18n generator"
          curl https://api.github.com/repos/a01sa01to/covid19-ibaraki/actions/workflows/1131350/dispatches -X POST -H "Accept: application.vnd.github.v3+json" -H "Authorization: token ${WORKFLOW_DISPATCH_TOKEN}" -d '{"ref":"development"}'
          echo "::endgroup::"
        env:
          WORKFLOW_DISPATCH_TOKEN: ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}

  push_master:
    name: Push to master branch
    runs-on: ubuntu-latest
    needs: push_dev
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - name: Add remote
        run: git remote add origin1 https://github.com/a01sa01to/covid19-ibaraki.git
      - name: Fetch
        run: git fetch origin1
      - name: Merge
        run: git merge origin1/development --ff
      - name: Temporary disable branch protection
        uses: Hatzelencio/branch-protection@v0.0.0
        with:
          path: .github/config/branch_unlock_mas.yml
        env:
          GITHUB_TOKEN: ${{secrets.GHAC_TOKEN}}
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
      - name: Enable branch protection
        uses: Hatzelencio/branch-protection@v0.0.0
        with:
          path: .github/config/branch_protect_mas.yml
        env:
          GITHUB_TOKEN: ${{secrets.GHAC_TOKEN}}
      - name: Run Deploy
        run: |
          curl https://api.github.com/repos/a01sa01to/covid19-ibaraki/actions/workflows/814487/dispatches -X POST -H "Accept: application.vnd.github.v3+json" -H "Authorization: token ${WORKFLOW_DISPATCH_TOKEN}" -d '{"ref":"master"}'
        env:
          WORKFLOW_DISPATCH_TOKEN: ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}