name: Production Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - production

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          ref: production
      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: '14.16.0'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v2.1.6
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install deps
        run: yarn install --frozen-lockfile
      - name: Test
        run: yarn run test
      - name: Generate
        run: yarn run generate:deploy --fail-on-page-error
      - name: Generate Sitemap
        run: python ./generate_sitemap/main.py
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: prod-deploy

      - name: Create GitHub release
        uses: rymndhng/release-on-push-action@master
        with:
          bump_version_scheme: patch

  ogp_build:
    name: OGP Build
    needs: deploy
    runs-on: macos-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: actions/checkout@v2.4.0
        with:
          ref: prod-deploy
      - name: Install selenium with pip
        run: pip3 install selenium
      - name: Take screenshot
        run: (python3 -m http.server --directory ./ 8000 &)  ; python3 ./ui-test/ogp_screenshot.py
      - name: Upload screenshot
        uses: actions/upload-artifact@v1
        with:
          name: ogp
          path: ogp
  ogp_upload:
    name: OGP Upload
    needs: ogp_build
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: actions/checkout@v2.4.0
        with:
          ref: prod-deploy
      - name: Download ogp images
        uses: actions/download-artifact@v1
        with:
          name: ogp
      - name: Compress Images
        uses: calibreapp/image-actions@main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions"
          git add ogp
          git commit -m "Add OGP changes"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: prod-deploy
  tweet:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Checkout production branch
        uses: actions/checkout@v2.4.0
        with:
          ref: production
      - name: Set up Python 3.8
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Sleep 5min (waiting for Netlify deploy)
        run: sleep 5m
      - name: Tweet as @Covid19_ibaraki & Retweet as @a01sa01to
        env:
          API_KEY: ${{ secrets.TWITTER_API_KEY }}
          API_SECRET: ${{ secrets.TWITTER_API_SECRET }}
          ACCESS_SECRET: ${{ secrets.TWITTER_ACCESS_SECRET_SCI }}
          ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN_SCI }}
          ACCESS_SECRET_ASA: ${{ secrets.TWITTER_ASA_ACCESS_SECRET }}
          ACCESS_TOKEN_ASA: ${{ secrets.TWITTER_ASA_ACCESS_TOKEN }}
        run: python auto-tweet/tweet.py
